.barchart {
  /*border: solid 1px;*/
  font-size: 10px;
  margin: 0px; /* set margin/border/padding to 0 so that */
  border: 0px; /* the size of the entire widget is just */
  padding: 0px; /* the size of the SVG */
  font-family: sans-serif;
}

.tooltip { /* divs for all hover-over pop-ups */
  position: absolute;
  max-width: 500px;
  height: auto;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/ /* uncomment to add rounded corners */
}

.tooltip p { /* all text inside tooltips */
  margin: 0;
  font-size: 14px;
}

.tooltip td:nth-child(1) p { /* the row names in the tooltips' tables */
	font-weight: bold;
	text-align: right;
  word-break: keep-all; /* prevents words from being broken up */
}

.tooltip td:nth-child(2) { /* values in each row */
	padding-left: 5px;
  word-break: break-all; /* breaks up words if they are too long */
}

.tooltip > p { /* title(s) of the tooltip(s) */
	font-weight: bold;
}

.hidden {
  display: none;
}

.barchart rect:hover { /* bars */
  filter: url("#shadow");
}

.bold {
  font-weight: bold;
}

.barchartSVG {
  shape-rendering: crispEdges;
}

.axis .tick {
  stroke: lightgrey;
  stroke-width: 2px;
}

.axis line {
  stroke: lightgrey;
}

.axis text {
  stroke: gray;
  stroke-width: 0.5px;
}

#xticks path {
  stroke-width: 0px;
}

#labels path {
  stroke-width: 1px;
}

#labels .domain {
  stroke: lightgrey;
  stroke-width: 2px;
}
