.barchart {
  border: solid 1px;
  font-size: 10px;
}

.barchart rect:hover { /* bars */
  filter: url("#shadow");
}

.bold {
  font-weight: bold;
}

.barchartSVG {
  shape-rendering: crispEdges;
}

.axis .tick {
  stroke: lightgrey;
  stroke-width: 2px;
}

.axis line {
  stroke: lightgrey;
}

.axis text {
  stroke: gray;
  stroke-width: 0.5px;
}

#xticks path {
  stroke-width: 0px;
}

#labels path {
  stroke-width: 1px;
}

#labels .domain {
  stroke: lightgrey;
  stroke-width: 2px;
}
